.unity-scroll-view__content-container{

overflow: visible;
}

.unity-scroll-view__content-viewport {

overflow: visible;
}

.unity-collection-view__item:hover
{
    background-color: var(--primary-color);
}
